<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">

<div id="body">
    <div id="header">
        <div id="logo" onclick="location.href='/'">
            SiteName
        </div>
        <i onclick="location.href='/users/signout'" class="fas fa-sign-out-alt"></i>
    </div>
</div>